{% extends "index.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='productpage.css') }}">
{% endblock %}

{% block content %}
  
    <div id="search">
        <form action="#" method="post">
            <input type="text" name="searchbox2" onclick="loading()" required>
            <input type="submit" value="search">
        </form>
    </div>

    {% if products != {} %}
        <div class="product-container">
            {% for product in products %}
                <div class="product-card">
                    <p class="productname"><strong>{{ product["product"] }}</strong></p>
                    <p class="price">{{ product["price"] }}</p>
                    <p class="seller">{{ product["seller"] }}</p>
                    <a href="{{ product['link'] }}" target="_blank">Go to Product</a>
                    <p class="delivery">{{ product["delivery"] }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% endblock %}