<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
    {% endblock %}
</head> 
<body>

    <!-- <h1 id="load">Loading...</h1> -->

    {% block content %}

    <div id="search" class="search-container">
        <form action="#" method="post">
            <input type="text" name="searchbox1" class="search-box" placeholder="Enter item" required>
            <input type="submit" value="search" onclick="loading()" class="search-button">
        </form>
    </div>

    {% endblock %}

    <script>
        const loadmsg = document.getElementById("load");
        const search = document.getElementById("search");
        loadmsg.style.display = "none";
        search.style.display = "block";
    </script>

    <script src="{{ url_for('static', filename='node.js') }}"></script>

</body>
</html>